@import "./toast.style.css";
@import "./dmv.css";
@import "./auth.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

ul > li.dmv-list-item {
    @apply hover:bg-gray-100 cursor-pointer;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-results__option {
    background-color: #f0f0f0;
}

/* Mengubah warna teks pilihan dropdown */
.select2-container--default .select2-results__option--highlighted {
    color: #007bff;
}

/* Mengubah warna border dan padding input Select2 */
.select2-container--default .select2-selection--single {
    @apply border-gray-300 px-1 pt-1.5 h-10 rounded-md;
}

/* Mengubah gaya placeholder */
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #6c757d;
}
