@layer base {
    .dmv-btn-dropdown {
        @apply py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg  text-white hover:text-violet-200 shadow-sm disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800;
    }
    .hs-dropdown.open {
        @apply z-[100] rounded-none;
    }
    .dmv-dropdown-menu {
        @apply transition-[opacity,margin]  hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md p-2 mt-2 divide-y divide-gray-200 dark:bg-gray-800 dark:border dark:border-gray-700 dark:divide-gray-700 rounded-none;
    }
    .dmv-menu-items {
        @apply flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700;
    }
}
@layer components {
    .btn {
        @apply py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent disabled:opacity-50 disabled:pointer-events-none bg-gray-100 shadow-md justify-center;
    }
    .btn-sm {
        @apply py-1.5 px-2.5 text-xs;
    }
    .btn-md {
        @apply py-2 px-3 text-xs;
    }
    .btn-lg {
        @apply py-2.5 px-3.5;
    }
    .btn-indigo {
        @apply bg-indigo-600 text-white hover:bg-indigo-700;
    }
    .btn-emerald {
        @apply bg-emerald-600 text-white hover:bg-emerald-700;
    }
    .btn-violet {
        @apply bg-violet-600 text-white hover:bg-violet-700;
    }
    .btn-rose {
        @apply bg-rose-600 text-white hover:bg-rose-700;
    }
    .btn-gray {
        @apply bg-gray-800 text-white hover:bg-gray-700;
    }
    .btn-pag {
        @apply min-h-[38px] min-w-[38px] flex justify-center border border-gray-200 items-center  py-2 px-3 text-sm first:rounded-s-lg last:rounded-e-lg focus:outline-none focus:bg-gray-300 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-600 dark:border-gray-700 dark:text-white dark:focus:bg-gray-500;
    }
    .btn-pag-violet {
        @apply bg-violet-200 text-gray-800;
    }
    nav[role="navigation"] {
        @apply w-full;
    }
    span[aria-current="page"] > span {
        @apply bg-violet-600 text-white;
    }
    .btn-dropdown-action {
        @apply py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800;
    }
    .menu-dropdown-action {
        @apply transition-[opacity,margin] hs-dropdown-open:opacity-100 opacity-0 hidden min-w-40 bg-white shadow-md rounded-lg p-2 mt-2 dark:bg-gray-800 dark:border dark:border-gray-700 dark:divide-gray-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full;
    }
    .btn-action {
        @apply w-full flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700;
    }

    .dmv-li {
        @apply inline-flex items-center gap-x-2 py-3 px-4 text-sm border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:border-gray-700 dark:text-gray-200;
    }
    .dmv-input {
        @apply max-w-md py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600;
    }
    .dmv-select {
        @apply py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600;
    }
    [readonly] {
        @apply bg-gray-100 text-gray-900 focus:outline-none focus:border-none;
    }
    .overflow-y-auto::-webkit-scrollbar {
        @apply hidden;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* for Internet Explorer and Edge */
        scrollbar-width: none; /* for Firefox */
    }
    /* .overflow-y-auto::-webkit-scrollbar {
        width: 3px;
    } */
    /* .overflow-y-auto::-webkit-scrollbar {
        width: 3px;
    }

    .overflow-y-auto::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .overflow-y-auto::-webkit-scrollbar-thumb {
        @apply bg-gray-500 outline-1 outline-indigo-500 rounded-full absolute;
    } */
    .date-filter {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
    .form-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
    .required::after {
        @apply text-red-600 content-['*'];
    }
    .badge-yellow {
        @apply bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300;
    }

    .item-navbar {
        @apply block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-indigo-200 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
    }

    .wrapper-dropdown {
        @apply z-10 hidden font-normal bg-indigo-600 divide-y divide-gray-100 shadow w-44 dark:bg-gray-700 dark:divide-gray-600 py-2 max-h-[240px] overflow-y-auto;
    }

    .navbar-item-dropdown {
        @apply block px-4 py-1 text-sm text-white hover:bg-indigo-400 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white;
    }
    input:disabled,
    textarea:disabled,
    select:disabled {
        @apply bg-gray-200 text-gray-600;
    }

    .dmv-search {
        @apply h-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500;
    }

    .loading {
        @apply absolute z-[100] top-0 bottom-0 right-0 left-0 bg-white opacity-70 flex justify-center items-center text-5xl;
    }
    .loading .text-loading {
        @apply text-purple-500;
    }
    .counter {
        @apply text-[12px] text-white bg-green-500 absolute top-10 right-2 px-1 rounded-md;
    }
    .btn:disabled {
        @apply cursor-not-allowed;
    }
}
