/* style toast info */
div.jq-toast-wrap {
    @apply w-[500px];
}
div.jq-toast-single.jq-has-icon.jq-icon-info {
    @apply bg-blue-500;
}

/* style toast success */
div.jq-toast-single.jq-has-icon.jq-icon-success {
    @apply bg-green-400 text-white fill-white;
}

span.jq-toast-loader.jq-toast-loaded {
    @apply text-white;
}
/* style toast warning */
div.jq-toast-single.jq-has-icon.jq-icon-warning {
    @apply bg-yellow-200 text-yellow-800;
}

span.jq-toast-loader.jq-toast-loaded {
    @apply text-white;
}
/* style toast warning */
div.jq-toast-single.jq-has-icon.jq-icon-error {
    @apply bg-red-500;
}

span.jq-toast-loader.jq-toast-loaded {
    @apply text-white;
}

.jq-icon-warning {
    background-image: none;
}
